<!DOCTYPE html>
<html>
<head>
	<title>Trang Chủ</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
	<!-- <script src="https://vanhao.herokuapp.com/socket.io/socket.io.js"></script> -->
	<!-- <script src="socket.io/socket.io.js"></script>
	<script src="process.js"></script>
	<link rel="stylesheet" type="text/css" href="layout.css"> -->

</head>
<body>
	<h1 id="title">Chào mừng bạn đến với App Bán Hàng</h1>
	<h1> <%= username %> </h1>
	
</body>
</html>